---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
const experience = await getCollection('experience')

const firstExperience = experience[0]
---

<BaseLayout title="Experience" description="What I like to do">
  <div class="text-center flex flex-col gap-24 mx-auto">
    <span
      class="px-4 py-1 bg-gray-800 rounded-full text-sm inline-block w-fit mx-auto"
    >
      Experience
    </span>

    <div class="flex flex-col gap-4">
      <h2 class="text-3xl font-bold">{firstExperience?.data?.title}</h2>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
      >
        {
          firstExperience?.data?.skills?.map((item) => (
            <div class="text-center p-6 bg-[#242424] rounded-lg">
              <div class="text-3xl mb-4">{item.icon}</div>
              <h3 class="font-medium mb-2">{item.title}</h3>
              <p class="text-gray-400 text-sm">{item.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
