---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '@/components/Hero.astro'
---

<BaseLayout title="Home" description="Software Engineer">
  <!-- Hero Section -->
  <main class="m-auto flex flex-col gap-12">
    <Hero />
  </main>
</BaseLayout>
