---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import Image from 'astro/components/Image.astro'
import SoyMenu from '@/assets/soymenu_landing.png'

const projects = await getCollection('projects')
const allApps = projects.map((project) => project.data.apps).flat()
console.log(allApps)
---

<BaseLayout title="Projects" description="What I have built">
  <div class="text-center flex flex-col gap-12 mx-auto max-w-7xl px-4">
    <span
      class="px-4 py-1 bg-gray-800 rounded-full text-sm inline-block w-fit mx-auto"
    >
      Projects
    </span>

    {
      allApps.map((app) => (
        <a
          href={app?.link}
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col gap-6 border border-slate-900 p-6 rounded-lg shadow-lg"
        >
          <div class="relative bg-gray-900 hover:bg-gray-800 rounded-lg transition-colors duration-300">
            <Image
              src={app?.image}
              alt="SoyMenu"
              class="opacity-20 w-full h-auto rounded-lg "
            />
            <div class="absolute inset-0 flex items-center justify-center flex-col">
              <h2 class="text-white text-4xl font-bold">{app?.title}</h2>
              <p class="text-gray-200 mt-2 text-xl font-semibold text-center text-wrap max-w-2xl">
                {app?.description}
              </p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
