<div class="absolute inset-0 z-[-10] opacity-30">
  <div
    class="absolute top-20 left-20 w-16 h-16 bg-[#494241] rounded-lg transform rotate-45"
  >
  </div>
  <div class="absolute top-40 right-40 w-16 h-16 bg-[#494241] rounded-full">
  </div>
  <div
    class="absolute bottom-40 left-1/4 w-16 h-16 bg-[#494241] rounded-lg transform -rotate-12"
  >
  </div>
  <div
    class="absolute top-1/2 right-1/4 w-16 h-16 bg-[#494241] rounded-lg transform rotate-12"
  >
  </div>
</div>
