---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const items = await getCollection('marqueeItems')
const diagonal = Astro.props.diagonal
const reverse = Astro.props.reverse
---

<div
  class="marquee fadeout-horizontal"
  style={{ '--num-items': items?.length }}
>
  <div class="marquee-track">
    {
      items?.map((item, index) => (
        <div
          class="marquee-item"
          style={{
            '--item-position': index,
            '--animation-name': reverse ? 'marquee-reverse' : 'marquee-move',
          }}
        >
          <Image
            src={item.data.icon}
            alt={item.data.title}
            width={60}
            height={60}
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  /* Mobile first (por defecto) */
  .marquee {
    max-width: 300px;
    overflow: hidden;
    --speed: 25s;
    --item-width: 50px;
    --item-gap: 25px;
    --single-slide-speed: calc(var(--speed) / var(--num-items));
    --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
    --track-width: calc(
      var(--item-width-plus-gap) * calc(var(--num-items) - 1)
    );
  }

  /* Para pantallas de hasta 768px */
  @media (max-width: 768px) {
    .marquee {
      max-width: 300px;
      --item-width: 50px;
    }
  }

  /* Para pantallas de hasta 1180px */
  @media (min-width: 768px) and (max-width: 1180px) {
    .marquee {
      max-width: 680px;
      --item-width: 75px;
    }
  }

  /* Para pantallas mayores a 1180px (desktop) */
  @media (min-width: 1181px) {
    .marquee {
      max-width: 1400px;
      --item-width: 100px;
      --item-gap: 25px;
      --single-slide-speed: calc(var(--speed) / var(--num-items));
      --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
      --track-width: calc(
        var(--item-width-plus-gap) * calc(var(--num-items) - 1)
      );
    }
  }

  .marquee-track {
    container-type: inline-size;
    display: grid;
    grid-template-columns: var(--track-width) [track] 0px [resting];
    width: max-content;
  }

  .marquee-item {
    width: var(--item-width);
    aspect-ratio: 1/1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    grid-area: resting;
    animation: var(--animation-name, marquee-move) var(--speed) linear infinite;
    animation-delay: calc(
      var(--single-slide-speed) * var(--item-position) * -1
    );
  }

  .marquee-item img {
    height: auto;
    width: 80%;
  }

  .fadeout-horizontal {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 15rem,
      black calc(100% - 15rem),
      transparent
    );
  }

  @keyframes marquee-move {
    to {
      transform: translateX(calc(-100cqw - 100%));
    }
  }

  @keyframes marquee-reverse {
    from {
      transform: translateX(calc(-100cqw - 100%));
    }
    to {
      transform: translateX(0);
    }
  }
</style>
