---
import Background from '@/components/Background.astro'
import Footer from '@/components/Footer.astro'
import Nav from '@/components/Nav.astro'
import '@fontsource/sunflower'
import { ClientRouter } from 'astro:transitions'
import HeadSEO from '../components/HeadSEO.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}

const { title, description, ogImage } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <ClientRouter />
  </head>
  <body class="pt-24 md:pt-32 min-h-screen flex flex-col justify-between">
    <Nav />

    <main class="max-w-7xl mx-auto md:px-12 px-4 pb-6">
      <slot />
    </main>

    <Footer />
    <Background />
  </body>
</html>
